﻿@model List<ConcertzaalViewModel>
@{
    ViewData["Title"] = "Administrator";
}
@if (TempData["Succes"] != null)
 {
    <div class="alert alert-success alert-dismissable">
         <strong>@TempData["Succes"]</strong>
    </div>
 }
<div id="concerten-admin" class="overzicht-admin">
    <a asp-action="Index" asp-controller="Admin">Terug naar Admin</a>
    <div id="showConcertzalen">
        <table class="table table-striped grid-table">
            <tr>
                <th>Concertzaal ID</th>
                <th>Concertzaal naam</th>
                <th>Locatie</th>
                <th>Land</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var item in Model)
                {   
                    <tr>
                        <th>@item.ConcertzaalID</th>
                        <td>@item.ConcertzaalNaam</td>
                        <td>@item.Locatie</td>
                        <td>@item.Land</td>
                        <td>@Html.ActionLink("Edit", "Concertzaalaanpassen", "Concertzaal", new { ID = @item.ConcertzaalID} , new {@class = "edit-button" })</td>
                        <td>@Html.ActionLink("Delete", "DeleteConcertzaal", "Concertzaal", new { ID = @item.ConcertzaalID}, new {@class = "delete-button" })</td>
                    </tr>           
                }
        </table>
        <a asp-action="Concertzaalaanmaken">Concertzaal aanmaken</a>
    </div>
</div>