﻿@model ConcertzaalViewModel

@{
    ViewData["Title"] = "Concertzaal aanmaken";
}
<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm())  
{  
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.ConcertzaalNaam)</td>
            <td>@Html.EditorFor(model => model.ConcertzaalNaam)</td>
            <td>@Html.ValidationMessageFor(model => model.ConcertzaalNaam)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Locatie)</td>
            <td>@Html.EditorFor(model => model.Locatie)</td>
            <td>@Html.ValidationMessageFor(model => model.Locatie)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Land)</td>
            <td>@Html.DropDownListFor(model => model.Land, new SelectList(new string[] { "Nederland", "België" }))</td>
            <td>@Html.ValidationMessageFor(model => model.Land)</td>  
        </tr>
        <tr>
            <td><input type="submit" value="Aanmaken" /></td>
        </tr>
    </table>
}