﻿@model BandLibrary
@{
    ViewData["Title"] = "Gegevens";
}
<div class="bands-middle-container">
    <div class="band-picture">
        <img src="https://images.nrc.nl/6ZxZNtskfzkKfaoN2xGyNt6fTZs=/1280x/filters:no_upscale()/s3/static.nrc.nl/liveblog/files/2021/09/web-1309binconcert-1.jpg"/>
        <h1>
            @Model.ConcertzaalInfo.ConcertzaalNaam
        </h1>
    </div>
    <div class="band-info">
        <div class="show-concerts-in-band">
            <table>
                <tr>
                    <th>
                        Concertzaal:
                    </th>
                    <td>
                        @Model.ConcertzaalInfo.ConcertzaalNaam
                    </td>
                </tr>
                <tr>
                    <th>
                        Locatie:      
                    </th>
                    <td>
                        @Model.ConcertzaalInfo.Locatie, @Model.ConcertzaalInfo.Land
                    </td>
                </tr>
            </table>
        </div>
        <div class="show-concerts-in-band">
            <h2>Geplande concerten bij @Model.ConcertzaalInfo.ConcertzaalNaam:</h2>
            <table>       
            @foreach (var concert in Model.ConcertList)
            {
    
                <tr> 
                    <th>@concert.BandNaam</th>
                    <td>@concert.Datum.ToString("d MMMM yyyy")</td>
                    <td><a asp-action="Gegevens" asp-controller="Concert" asp-route-id=@concert.ID>Meer info</a></td>      
                </tr>
    
            }
            </table>
        </div>
    </div>
</div>