﻿@model List<ConcertzaalViewModel>
@{
    ViewData["Title"] = "Concertzalen";
}

<h1>Overzicht van concertzalen:</h1>
<div class="concerten-overzicht">
    @foreach (var item in Model)
    {
        <div class="concert-blok">
            <a asp-action="Gegevens" asp-route-id=@item.ConcertzaalID>
                <table>
                    <tr>                       
                        <th>@item.ConcertzaalNaam</th> 
                    </tr>
                </table>
            </a>
        </div>
    }
</div>