﻿@model ConcertViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="home-screen">
    <h1>Upcoming: </h1>
    <div class="concert-blok">
        <a asp-action="Gegevens" asp-controller="Concert" asp-route-id=@Model.ID>
            <h2>@Model.BandNaam</h2>
            <p>@Model.Datum.ToString("d MMMM yyyy")</p>
            <p>@Model.ConcertzaalNaam</p>
        </a>
    </div>   
 </div>
