﻿@model List<BandViewModel>
@{
    ViewData["Title"] = "Administrator";
}
@if (TempData["Succes"] != null)
 {
    <div class="alert alert-success alert-dismissable">
         <strong>@TempData["Succes"]</strong>
    </div>
 }

<div id="concerten-admin" class="overzicht-admin">
    <a asp-action="Index" asp-controller="Admin">Terug naar Admin</a>
    <div id="showBands">
        <table class="table table-striped grid-table">
            <tr>
                <th>BandID</th>
                <th>Band naam</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var item in Model)
                {   
                    <tr>
                        <th>@item.BandID</th>
                        <td>@item.BandNaam</td>
                        <td>@Html.ActionLink("Edit", "Bandaanpassen", "Band", new { ID = @item.BandID}, new { @class = "edit-button" })</td>
                        <td>@Html.ActionLink("Delete", "DeleteBand", "Band", new { ID = @item.BandID}, new { @class = "delete-button" })</td>
                    </tr>           
                }
        </table>
        <a asp-action="Bandaanmaken">Band aanmaken</a>
    </div>
</div>
