﻿@model BandViewModel

@{
    ViewData["Title"] = "Band aanpassen";
}

<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm())  
{  
  
 @Html.HiddenFor(model => model.BandID)
 
    <label>Band naam:</label>
    @Html.EditorFor(model => model.BandNaam)
    @Html.ValidationMessageFor(model => model.BandNaam)<br />

    <label>Informatie over band:</label><br />
    @Html.TextAreaFor(model => model.BandInfo, 10, 40, null)

    <input type="submit" value="Update" />
}
