﻿@model BandViewModel

@{
    ViewData["Title"] = "Band aanmaken";
}
<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm())  
{  
 @Html.AntiForgeryToken() 
 
    <label>Band naam:</label>
    @Html.EditorFor(model => model.BandNaam)
    @Html.ValidationMessageFor(model => model.BandNaam)<br />

    <label>Informatie over band:</label><br />
    @Html.TextAreaFor(model => model.BandInfo, 10, 40, null)

    <input type="submit" value="Aanmaken" />
}