﻿@model BandLibrary
@{
    ViewData["Title"] = "Gegevens";
}
<div class="bands-middle-container">
    <div class="band-picture">
        <img src="https://images.nrc.nl/6ZxZNtskfzkKfaoN2xGyNt6fTZs=/1280x/filters:no_upscale()/s3/static.nrc.nl/liveblog/files/2021/09/web-1309binconcert-1.jpg"/>
        <h1>
            @Model.Band.BandNaam
        </h1>
    </div>
    <div class="band-info">
        <div class="show-concerts-in-band">
            <h2>Geplande concerten van @Model.Band.BandNaam:</h2>
            <table>
                
                @foreach (var concert in Model.ConcertList)
                {
    
                    <tr>
        
                        <th>* @concert.BandNaam</th>
                        <td>@concert.Datum.ToString("d MMMM yyyy")</td>
                        <td>@concert.ConcertzaalNaam</td>
                        <td><a asp-action="Gegevens" asp-controller="Concert" asp-route-id=@concert.ID>Meer info</a></td>      
                    </tr>
    
                }
            </table>
         </div>
    <p class="band-info-text">@Model.Band.BandInfo</p>
    </div>
</div>
