﻿@model List<BandViewModel>
@{
    ViewData["Title"] = "Bands";
}

<h1>Overzicht van bands:</h1>
<div class="concerten-overzicht">
    @foreach (var item in Model)
    {
        <div class="concert-blok">
            <a asp-action="Gegevens" asp-route-id=@item.BandID>
                <table>
                    <tr>                       
                        <th>@item.BandNaam</th> 
                    </tr>
                </table>
            </a>
        </div>
    }
</div>