﻿@model List<ConcertViewModel>
@{
    ViewData["Title"] = "Administrator";
}
@if (TempData["Succes"] != null)
 {
    <div class="alert alert-success alert-dismissable">
         <strong>@TempData["Succes"]</strong>
    </div>
 }
<div id="concerten-admin" class="overzicht-admin">
    <a asp-action="Index" asp-controller="Admin">Terug naar Admin</a>
    <div id="showConcerten">
        <table class="table table-striped grid-table">
            <tr>
                <th>ID</th>
                <th>Band naam</th>
                <th>Concertzaal naam</th>
                <th>Datum</th>
                <th>Begin tijd</th>
                <th>Eind tijd</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            @foreach (var item in Model)
                {   
                    <tr>
                        <th>@item.ID</th>
                        <td>@item.BandNaam</td>
                        <td>@item.ConcertzaalNaam</td>
                        <td>@item.Datum.ToShortDateString()</td>
                        <td>@item.BeginTijd</td>
                        <td>@item.EindTijd</td>
                        <td>@Html.ActionLink("Edit", "Concertaanpassen", "Concert", new { ID = @item.ID},new { @class = "edit-button" })</td>
                        <td>@Html.ActionLink("Delete", "DeleteConcert", "Concert", new { ID = @item.ID} , new { @class = "delete-button" })</td>
                    </tr>           
                }
        </table>
        <a asp-action="Concertaanmaken">Concert aanmaken</a>
    </div>
</div>