﻿@model AllClasses

@{
    ViewData["Title"] = "Concert aanmaken";
}

<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm())  
{  
    <table>
        <tr>
            <td><label>Band naam:</label></td>
            <td>@Html.DropDownListFor(m => m.BandModelID, new SelectList(Model.BandList, "BandID", "BandNaam"), "---Select band---")</td>
        </tr>
        <tr>
            <td><label>Concertzaal naam:</label></td>
            <td>@Html.DropDownListFor(m => m.ConcertzaalModelID, new SelectList(Model.ConcertzaalList, "ConcertzaalID", "ConcertzaalNaam"), "---Select concertzaal---")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Datum)</td>
            <td>@Html.EditorFor(model => model.Datum)</td>
            <td>@Html.ValidationMessageFor(model => model.Datum)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.BeginTijd)</td>
            <td>@Html.EditorFor(model => model.BeginTijd)</td>
            <td>@Html.ValidationMessageFor(model => model.BeginTijd)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.EindTijd)</td>
            <td>@Html.EditorFor(model => model.EindTijd)</td>
            <td>@Html.ValidationMessageFor(model => model.EindTijd)</td>
        </tr>  
        <tr>
            <td><input type="submit" value="Create" /></td>
        </tr>
    </table>
}