﻿@model ConcertViewModel

@{
    ViewData["Title"] = "Concert aanpassen";
}

<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm())  
{  
 @Html.AntiForgeryToken() 
 @Html.HiddenFor(model => model.ID)
 
    <label>Band naam: @Html.DisplayFor(model => model.BandNaam)</label>
    @Html.HiddenFor(model => model.BandNaam)<br />
    <label>Concertzaal naam: @Html.DisplayFor(model => model.ConcertzaalNaam)</label>
    @Html.HiddenFor(model => model.ConcertzaalNaam)<br />  

    <label>Datum (DD-MM-JJJJ):</label>
    @Html.EditorFor(model => model.Datum)
    @Html.ValidationMessageFor(model => model.Datum)<br />
    <label>Begin tijd (24h):</label>
    @Html.EditorFor(model => model.BeginTijd)
    @Html.ValidationMessageFor(model => model.BeginTijd)<br />
    <label>Eind tijd (24h):</label>
    @Html.EditorFor(model => model.EindTijd)
    @Html.ValidationMessageFor(model => model.EindTijd)<br />

    <input type="submit" value="Update" />
}
