﻿@model ConcertViewModel
@{
    ViewData["Title"] = "Gegevens";
}
<div class="bands-middle-container">
    <div class="band-picture">
        <img src="https://images.nrc.nl/6ZxZNtskfzkKfaoN2xGyNt6fTZs=/1280x/filters:no_upscale()/s3/static.nrc.nl/liveblog/files/2021/09/web-1309binconcert-1.jpg"/>
        <h1>
            @Model.BandNaam
        </h1>
    </div>
    <div class="band-info">
        <div class="show-concerts-in-band">
            <table>
                <tr>
                    <th>
                        Concertzaal:       
                    </th>
                    <td>
                        @Model.ConcertzaalNaam
                    </td>
                </tr>
                <tr>
                    <th>
                        Datum:       
                    </th>
                    <td>
                        @Model.Datum.ToString("d MMMM yyyy")
                    </td>
                </tr>
                <tr>
                    <th>
                        Begin tijd:
                    </th>
                    <td>
                        @Model.BeginTijd
                    </td>
                    <tr>
                    <th>
                        Eind tijd:      
                    </th>
                    <td>
                        @Model.EindTijd
                    </td>
                </tr>
                <tr>
                    <th>
                        Locatie:      
                    </th>
                    <td>
                        @Model.Locatie, @Model.Land
                    </td>
                </tr>
            </table>
        </div>
        <p class="band-info-text">@Model.BandInfo</p>
    </div>
</div>