﻿@model List<ConcertViewModel>
@{
    ViewData["Title"] = "Concerten";
}
<h1>Overzicht van aankomende concerten:</h1>
<div class="concerten-overzicht">
    @foreach (var item in Model)
    {
        <div class="concert-blok">
            <a asp-action="Gegevens" asp-route-id=@item.ID>
                <div class="concert-icon-with-name">
                    <img class="concert-icon" src="https://images.nrc.nl/6ZxZNtskfzkKfaoN2xGyNt6fTZs=/1280x/filters:no_upscale()/s3/static.nrc.nl/liveblog/files/2021/09/web-1309binconcert-1.jpg"/>
                    <ul>
                        <li><h4>@item.BandNaam</h4></li>
                        <li>@item.ConcertzaalNaam</li>
                    </ul>
                    <ul>
                        <li class="datum">@item.Datum.ToString("d MMMM yyyy")</li>
                    </ul>
                </div>
            </a>
        </div>
    }
</div>
