﻿@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Metal_Webapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Metal_Webapp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="https://th.bing.com/th/id/R.dec7477029e165aad139408d39c9146e?rik=XccL8wJntKjX4A&pid=ImgRaw&r=0" style="width: 50px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Concert" asp-action="Index">Concerten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Band" asp-action="Index">Bands</a>
                        </li>                      
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Concertzaal" asp-action="Index">Concertzalen</a>
                        </li>                                                  
                          
                    </ul>
                    <ul class="navbar-nav">
                        @if (Context.Session.GetString("username") != null)
                            {
                                string username = Context.Session.GetString("username");
                                int? id = Context.Session.GetInt32("id");

                                
                                if (Context.Session.GetString("username") == "admin")
                                {
                                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Admin menu</a></li> 
                                }
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Gebruiker" asp-action="Profiel" asp-route-id=@id>@username</a></li>    
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Gebruiker" asp-action="Uitloggen">Uitloggen</a></li>
                            }
                            else
                            { 
                                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Gebruiker" asp-action="Index">Inloggen</a></li>
                            }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2022 - Metal_Webapp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
