﻿@model Library
@{
    ViewData["Title"] = "Add band";
}
<div class="login">
    @using (Html.BeginForm())  
    {  
        <table>
            <tr>
                <td>@Html.DropDownListFor(m => m.BandModelID, new SelectList(Model.BandList, "BandID", "BandNaam"), "---Select band---")</td>
            </tr>
            <tr>
                <td><input type="submit" value="Add band"/></td>
            </tr>  
        </table>  
    }     
</div>