﻿@model List<GebruikerViewModel>
@{
    ViewData["Title"] = "Administrator";
}
<div id="concerten-admin" class="overzicht-admin">
    <a asp-action="Index" asp-controller="Admin">Terug naar Admin</a>
    <div id="showGebruikers">
        <table class="table table-striped grid-table">
            <tr>
                <th>ID</th>
                <th>Gebruikersnaam</th>
                <th>Email</th>
                <th>Password</th>
                <th>Fan van</th>
                <th>Delete</th>
            </tr>
            @foreach (var item in Model)
                {   
                    <tr>
                        <th>@item.ID</th>
                        <td>@item.Gebruikersnaam</td>
                        <td>@item.Email</td>
                        <td>@item.Password</td>
                        <td>@item.BandNaam</td>
                        <td>@Html.ActionLink("Delete", "DeleteGebruiker", "Gebruiker", new { ID = @item.ID}, new { @class = "delete-button" })</td>
                    </tr>           
                }
        </table>
    </div>
</div>