﻿@model GebruikerViewModel


@{
    ViewData["Title"] = "Gebruiker aanpassen";
}

<h1>@ViewData["Title"]</h1>
@using (Html.BeginForm())  
{  
  
 @Html.HiddenFor(model => model.ID)
 
    <table>
            <tr>
                <td>@Html.LabelFor(model => model.Gebruikersnaam)</td>
                <td>@Html.EditorFor(model => model.Gebruikersnaam)</td>
                <td>@Html.ValidationMessageFor(model => model.Gebruikersnaam)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Email)</td>
                <td>@Html.EditorFor(model => model.Email)</td>
                <td>@Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>@Html.PasswordFor(model => model.Password)</td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Update" /></td>
            </tr>  
        </table> 
}
