﻿@model GebruikerViewModel
@{
    ViewData["Title"] = "Inloggen";
}

@if (TempData["Error"] != null)
 {
    <div class="alert alert-failed alert-dismissable">
         <strong>@TempData["Error"]</strong>
    </div>
 }
 @if (TempData["Succes"] != null)
 {
    <div class="alert alert-success alert-dismissable">
         <strong>@TempData["Succes"]</strong>
    </div>
 }

<div class="login">
    @using (Html.BeginForm())  
    {
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Gebruikersnaam)</td>
                <td>@Html.EditorFor(model => model.Gebruikersnaam)</td>
                <td>@Html.ValidationMessageFor(model => model.Gebruikersnaam)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>@Html.PasswordFor(model => model.Password)</td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
            <tr>
                <td><input type="submit" value="Inloggen"/></td>
                <td><a asp-action="Registreren">Registreren</a></td>
            </tr>
        </table>          
    }
</div>

