﻿@model BandLibrary
@{
    ViewData["Title"] = "Profiel";
    
}
<div class="bands-middle-container">
    <div class="band-picture">
        <img src="https://i1.sndcdn.com/avatars-001039428259-xg4x4z-t500x500.jpg" alt="profiel-foto"/><h2> - @Model.Gebruiker.Gebruikersnaam's profiel</h2>
</div>
    <h3>Fan van: @Model.Gebruiker.BandNaam</h3>
    <p>@Html.ActionLink("Edit Profiel", "Gebruikeraanpassen", "Gebruiker", new { ID = @Model.Gebruiker.ID}, new { @class = "edit-button" })</p> 
    
    <div class="band-library">
         <h2>Band Library:</h2>
         <table>        
            @foreach (var band in Model.GebruikerList)
            {
    
                <tr>
        
                    <th><a asp-action="Gegevens" asp-controller="Band" asp-route-id=@band.BandID>@band.BandNaam</a></th>
                    <td>@Html.ActionLink("x", "DeleteBandFromLibrary", "Gebruiker", new { ID = @band.ID} , new {@class = "delete-button" })</td>
                </tr>
                <tr>
                    <td>--------------------------</td>
                </tr>
            }
                <tr>
                    <td>@Html.ActionLink("Band toevoegen", "AddBandToLibrary", "Gebruiker", new { ID = @Model.Gebruiker.ID}, new { @class = "edit-button" })</td>
                </tr>
         </table>
    </div>
</div>