﻿@model RegBand
@{
    ViewData["Title"] = "Registreren";
}
<div class="login">
    @using (Html.BeginForm())  
    {  
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Gebruikersnaam)</td>
                <td>@Html.EditorFor(model => model.Gebruikersnaam)</td>
                <td>@Html.ValidationMessageFor(model => model.Gebruikersnaam)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Email)</td>
                <td>@Html.EditorFor(model => model.Email)</td>
                <td>@Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.Password)</td>
                <td>@Html.PasswordFor(model => model.Password)</td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
            <tr>
                <td>@Html.DropDownListFor(m => m.BandModelID, new SelectList(Model.BandList, "BandID", "BandNaam", "---Select band---"))</td>
            </tr>
            <tr>
                <td><input type="submit" value="Registreren"/></td>
            </tr>  
        </table>  
    }     
</div>