html {
  font-size: 14px;
}
.field-validation-error {
    color: red;
    font-weight: bold;
}
@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}
.alert-failed {
    background-color: darkred;
    color: white;
}
html {
    position: relative;
    min-height: 100%;
    
}
h1, h2, h3, h4, h5, h6, p {
    color: white !important;
}
body {
    background-image: url(https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?cs=srgb&dl=pexels-sebastian-ervi-1763075.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(46, 1, 58, 0.8);
    background-blend-mode: darken;
    margin-top: 150px;
    margin-bottom: 100px;
}
nav {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    height: 90px;
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
}
nav li a {
    color: white !important;
    transition: 0.3s;
}

nav li a:hover {
    color: #9932CC !important;
}
nav ul li a:active {
    color: purple !important;
}
.home-screen {
    margin-top: 200px;
    margin-bottom: 200px;
}
.concerten-overzicht {
    width: 80%;
    margin: auto;
}
.concert-blok {
    border: darkorchid 2px solid;
    background-image: linear-gradient(to bottom left, darkorchid, mediumvioletred);
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 50%);
    transition: 0.3s;
}
.concert-blok:hover {
    transform:scale(1.05)
}
.concert-blok .datum {
    position: relative;
    float: right;
}
.concert-blok a {
    text-decoration: none;
    color: white;
}
.concert-blok .concert-icon-with-name .datum {
    font-weight: bold;
    font-size: 20px;
}
.concert-blok .concert-icon {
    width: 100px;
    height: 100px;
    border: 3px solid white;
}
.concert-blok .concert-icon-with-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.concert-blok .concert-icon-with-name li{
    list-style-type: none;
    text-align: center;
}
.concert-blok .concert-icon-with-name ul {
    margin: 0px;
}
.band-picture img {
    height: 200px;
    width: 200px;
    border: 3px solid white;
}
.band-picture {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 50px;
    border-bottom: 1px solid white;
}
.band-picture h1{
    margin-left: 100px;
}
.band-info {
    display: flex;
    justify-content: space-evenly;
    
}
table th, table td , p, label{
    color: white !important;
}
.band-info-text {
    width: 500px;
    border: 3px solid white;
    padding: 10px;
    min-height: 300px;
    height: auto;
}
.login {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: purple;
    width: 600px;
    margin: auto;
}
.show-concerts-in-band {
    background-color: purple;
    padding: 15px;
    box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 50%);
    min-height: 300px;
    height: auto;
    min-width: 300px;
    width: auto;
}
.show-concerts-in-band a {
    color: black;
    font-weight: bold;
}
.show-concerts-in-band td {
    padding: 5px;
}
.header-profiel {
    border-bottom: 2px solid white;
}
.header-profiel img {
    width: 100px;
    height: 100px;
    border: 3px solid white;
}
#admin-menu td {
    padding-top: 20px;
    padding-bottom: 20px;
}
footer {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    padding-top: 50px;
    padding-bottom: 20px;
    bottom: 0px;
    width: 100%;
    position: absolute;
}
/* -------- ADMIN OVERZICHT -------- */


.edit-button {
    padding: 5px;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.delete-button {
    margin-top:5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}