﻿@model AllClasses
@{
    ViewData["Title"] = "Administrator";
}
<div class="login" id="admin-menu">
    <table>
        <tr>
            <td>@Html.ActionLink("Concerten lijst", "Admin", "Concert", null, new {@class="edit-button"})</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Bands lijst", "Admin", "Band", null , new {@class="edit-button"})</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Concertzalen lijst", "Admin", "Concertzaal", null , new {@class="edit-button"})</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Gebruikers lijst", "Admin", "Gebruiker", null , new {@class="edit-button"})</td>
        </tr>
    </table>
</div>